
  <div id="wrapper">
    <h1>News Scraper</h1>
    <h2><i>Get it while it's hot!</i></h2>
    {{!--<div id="articles"></div>
    <div id="notes"></div>--}}
<div class = "row">
  <div class="col-md-12">
     <h3>News Scraper</h3>
    <ul class="list-group">
        {{#each articles}}
             <li class="list-group-item">
              <p class="burgerName">{{this.title}}</p>
              <p class="burgerName">{{this.link}}</p>
            </li>
        {{/each}}
      </ul>
    </div>
</div>
    
  </div>
